/COPYING.txt
/NEWS.txt
/connector.dll
/fmt123.h
/libmpg123-0.def
/libmpg123-0.dll
/libmpg123-02.dll
/libout123-0.def
/libout123-0.dll
/libsyn123-0.def
/libsyn123-0.dll
/mpg123-id3dump.exe
/mpg123-strip.exe
/mpg123.exe
/mpg123.h
/out123.exe
/out123.h
/README.txt
/syn123.h
/windows-notes.html
